body {
    background: #000;
    color: #fff;
    font-family: Calibri;
    padding: 0;
    margin: 0;
    width: 1410px;
}

#barraLateral {
    background: #39FF14;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 40px;
}

#fotoPerfil {
    position: relative;
    margin-top: 50px;
    margin-left: 100px;
    width: 300px;
    border-radius: 30px;
}

.listaContatos {
    position: relative;
    margin-left: 100px;
    margin-top: 40px;
    width: 260px;
    list-style-type: none;
}

.listaContatos li {
    position: relative;
    display: flex;
    margin-left: -40px;
    margin-bottom: 10px;
}

.iconeContatoBackground {
    background: #1E1E1E;
    width: 60px;
    height: 60px;
    border-radius: 15px;
}

.iconeContato {
    width: 25px;
    margin-top: 50%;
    margin: 50%;
    transform: translate(-50%, -50%);
}

.textContato {
    background: #1E1E1E;
    margin-left: 10px;
    width: 230px;
    height: 60px;
    border-radius: 15px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ola {
    position: relative;
    margin-top: -660px;
    margin-left: 450px;
    width: 900px;
    text-align: justify;
    font-size: 48px;
}

#ola strong {
    color: #39FF14;
    font-size: 64px;
}

p {
    position: relative;
    margin-top: 30px;
    margin-left: 460px;
    width: 900px;
    text-align: justify;
    font-size: 24px;
}

.redeSocial {
    position: relative;
    margin-top: 50px;
    margin-left: 810px;
    width: 500px;
    display: flex;
    justify-content: flex-end;
}

#btnDownloadCv {
    background: #39FF14;
    border: 1px solid #39FF14;
    color: #000;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 160px;
    height: 50px;
    border-radius: 15px;
    font-size: 16px;
    text-decoration: none;
    display: flex;
}

#btnDownloadCv:hover {
    background: #1E1E1E;
    color: #39FF14;
}

.imgRedeSocial {
    width: 40px;
    margin-left: 30px;
}